@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic:wght@700&family=Sunflower:wght@500&display=swap');

/* 나눔고딕,  주아, 선플라워
font-family: 'Jua', sans-serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Sunflower', sans-serif;
 */

/* 기본설정 */
*{
    margin:0;
    padding:0;
}


/* header 영역 */
header {
    padding: 20px;
    border-bottom: 1px solid #aaa;
}

hr {
    border: 0;
    border-top: 1px solid #AAA;
    margin : 5px 0;
}